#CreatePost{
    position: absolute;
    top:0;
    left: 0;
    height: 100dvh;
    width: 100%;
    background:rgba(0, 0, 0, .7);
    z-index: 2;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}
#CreatePost .spinner{
    width: 3rem;
    display: block;
    margin: auto;
}
#CreatePost form {
background-color: white;
padding: 1rem;
width: 30%;
border-radius: .3rem;
}
#CreatePost .close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color:white;
    cursor: pointer;
}
#CreatePost form button{
    width: 90%;
    display: block;
    margin: 1rem auto;
    font-size: 1rem;
    padding: .5rem;
    background-color: var(--primary-color);
    border-radius: .4rem;
    color: white;
    border: none;
    cursor: pointer;
}
#CreatePost form div{
    width: 90%;
    margin: 1rem auto;
    padding: 0 .2rem;
}
#CreatePost form input,textarea {
    display: block;
    margin: .5rem auto;
    line-height: 1.5rem;
    padding: .4rem;
    font-size: 1.1rem;
    width: 90%;
    outline: none;
}
#CreatePost form textarea{
    height: 6rem;
    resize: none;
}
#CreatePost form input[type=file]{
    display: none;
}
#linkFile{
    text-align: left;
    cursor: pointer;
}
#CreatePost form p{
    display: inline;
    margin: .8rem;
    font-weight: bold;
}
@media only screen and (max-width: 950px) {

    #CreatePost form{
        width: 50%;
    }

}
@media only screen and (max-width: 650px) {
    #CreatePost form{
        width: 90%;
    }
    
    #CreatePost form input,textarea{
        width: 95%;
    }
    #CreatePost form button{
        width: 95%;
        border-radius: .3rem;
        font-size: 1.2rem;
    }
    #CreatePost form div{
        width:95%
    }
}